body {
    font-family: arial, helvetica, serif;
}

#chefieMenu{

    position: fixed;
    right: 10%;
    top: 20px;
    max-width: 60%;
    padding: 0.5em;
    width: fit-content;
}

a{
    text-decoration: none;
}

.menuItem{

    position: relative;
    display: inline-block;
    border-radius: 4em;
    padding: 1em;
    margin: 0.5em;
    color: white;
    cursor: pointer;
    background: rgba(255,255,255,0.1);
    z-index: 3000;
}

#chefieMenu .active{
    background: rgba(255,255,255,1);
    color: gray;
    box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.18);
}

.slideImage {

    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    object-fit: cover;
}

.fp-section {
    text-align: center;
}

